*.log
*.tmp
*.swp
*.bak

/build
/dist
/vendor

/assets/ckfinder
/assets/images/announcements/*
/assets/images/comments/*
/assets/images/forums/*
/assets/images/users/*

/assets/videos/announcements/*
/assets/videos/comments/*
/assets/videos/forums/*
/assets/videos/users/*

/assets/files/announcements/*
/assets/files/comments/*
/assets/files/forums/*
/assets/files/users/*