
.card1{
  flex: 1 0 600px; 
  max-width: 300px; 
  height: 250px; 
  border-radius: 20px;
  background-color:  #0f52BA;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.card1{
  margin-left: -1000px;
  margin-top: -5px;
  }

.ser1 {
  width:  100px; 
  height: 100px; 
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 auto 15px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}


.card2{
  flex: 1 0 600px; 
  margin-left: 20px;
  max-width: 300px; 
  height: 250px; 
  border-radius: 20px;
  background-color:  #0f52BA;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.card2{
  margin-left: -300px;
  margin-top:  -255px;
  }

.ser2 {
  width:  100px; 
  height: 100px; 
  margin-left: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 auto 15px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}


.card3{
  flex: 1 0 600px; 
  margin-left: 20px;
  max-width: 300px; 
  height: 250px; 
  border-radius: 20px;
  background-color:  #0f52BA;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.card3{
  margin-left: 400px;
  margin-top:  -260px;
  }

.ser3 {
  width:  100px; 
  height: 100px; 
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 auto 15px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.card4{
  flex: 1 0 600px; 
  margin-left: 20px;
  max-width: 300px; 
  height: 250px; 
  border-radius: 20px;
  background-color:  #0f52BA;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.card4{
  margin-left: 1100px;
  margin-top:  -260px;
  }

.ser4 {
  width:  100px; 
  height: 100px; 
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 auto 15px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  margin-bottom: 30px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: 'Roboto Bold';
}

.learn-more-btn {
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-top: -50px;
  font-size: 15px;
  font-family: 'Grandis Regular';
  background-color: #fff;
  color: #000;
}


.df{
  background-color:  #0f52BA;
  margin-left: -670px;
  width: 600px;
  height: 200px;
  border-radius: 50px;
  padding: 50px;
}

.dftxt{
  font-family: 'Grandis Bold';
  font-size: 30px !important;
  color: aliceblue;
  text-align: center;
  margin-left: 10px;
  margin-top: -15px;
}

.df2{
  background-color:  #0f52BA;
  margin-left: 750px;
  margin-top: -300px;
  width: 600px;
  height: 200px;
  border-radius: 50px;
  padding: 50px;
}

.dftxt2{
  font-family: 'Grandis Bold';
  font-size: 30px !important;
  color: aliceblue;
  text-align: center;
  margin-right: 10px;
  margin-top: -15px;
}

.content-buttom{
  background-color: #0f52BA;
  font-family: 'Grandis Bold';
  font-size: 20px !important;
}

.NA{
  color:#fff;
}

.CU{
  color: #fff;
}

.contact-us{
  color: #fff;
}

.content-buttom2{
  background-color: #ffffff;
  margin: 10px;
  font-family: 'Grandis Bold';
  font-size: 12px !important;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.content-buttom2-1 h1 {
display: inline-block;
margin: 0 10px;
white-space: normal;
}

.center .download-link{
    text-align: left;
    margin-left: -430px;
    color: #fff;
}

.center{
    margin: auto;
}